.CABEÇALHO {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex: content;
    justify-content: space-around;
    padding: 2rem;
   
}

.APRESENTAÇÃODOAGRINHO {
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
}

body {
    background-color:ghostwhite;
}