.CABEÇALHO {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex: content;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    top: 0;
    padding: 1rem;
    width: 100%;
}

.CABEÇALHO button a {
    text-decoration: none;
    color: black;
}

.APRESENTAÇÃODOAGRINHO {
    font-family: Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 5rem; /* Espaço para o cabeçalho fixo */
}

body {
    background-color: ghostwhite;
    margin: 0; /* Remove espaço padrão */
}
